nav {
    width: 70%;
    margin: 2% auto;
    display: flex;
    height: 150px;
    justify-content: space-around;
    clear: both;
}

nav img {
    width: 100%;
}

#flag {
    background-color: #cc740a;
    border: 0px solid;
    border-radius: 500px;
}

#flag:hover {
    background-color: #db4b0b;
}

#flag:active {
    background-color: #db4b0b;
    box-shadow: 2px 2px 2px #8e2800;
}

#hat {
    background-color: #cc740a;
    border: 0px solid;
    border-radius: 500px;
}

#hat:hover {
    background-color: #db4b0b;
}

#hat:active {
    background-color: #db4b0b;
    box-shadow: 2px 2px 2px #8e2800;
}

#pumpkin {
    background-color: #cc740a;
    border: 0px solid;
    border-radius: 500px;
}

#pumpkin:hover {
    background-color: #db4b0b;
}

#pumpkin:active {
    background-color: #db4b0b;
    box-shadow: 2px 2px 2px #8e2800;
}

#quiz {
    background-color: #cc740a;
    border: 0px solid;
    border-radius: 500px;
}

#quiz:hover {
    background-color: #db4b0b;
}

#quiz:active {
    background-color: #db4b0b;
    box-shadow: 2px 2px 2px #8e2800;
}

#contacts {
    background-color: #cc740a;
    border: 0px solid;
    border-radius: 500px;
}

#contacts:hover {
    background-color: #db4b0b;
}

#contacts:active {
    background-color: #db4b0b;
    box-shadow: 2px 2px 2px #8e2800;
}