#main_block{
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
#main_block h1{
    font-size: 300%;
}
#main_block h3{
    font-size: 150%;
}

#take_quiz{
    
    font-size: 150%;
    margin-bottom: 2%;  
}
#social {
    width: 40%;
}