.slideshow {
    height: 400px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.slideshow>div {
    height: 200px;
    width: 2526px;
    background: url(../images/1.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
}

.slideshow .mover-1 {
    animation: moveSlideshow 24s linear infinite;
}

.slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -20px;
    animation: moveSlideshow 24s linear infinite;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}

#main_block {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

#main_block h1 {
    font-size: 300%;
    font-weight: bold;
}

#main_block h3 {
    font-size: 150%;
}

#main_block h2 {
    font-size: 250%;
    font-weight: bold;
}

#take_quiz {
    font-size: 150%;
    margin-bottom: 2%;
}

#social {
    width: 40%;
}

#footer {
    font-size: 200%;
}

#hat_pressed {
    background-color: #db4b0b;
    border: 0px solid;
    border-radius: 500px;
    box-shadow: 2px 2px 2px #8e2800;
}

#hat_pressed:hover {
    background-color: #db4b0b;
}
