* {
    margin: 0px auto;
    max-width: 800px;
}

body {
    width: 100%;
}

#first {
    font-size: 60%;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -60%);
}

#background_picture {
    width: 100%;
    height: auto;
}

nav {
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 99%;
}

#main form {
    width: 90%;
}

#main,
#main_block {
    width: 90%;
}

.slideshow>div {
    max-width: 2256px;
}

#open_quiz {
    width: 80%;
}
